.categories-container {
  text-align: center;
  width: 100%;
}

.categories-container button {
  background-color: transparent;
  border-color: transparent;
  color: var(--cinza);
  font-weight: 600;
}
