.done-card {
  border: 1px solid var(--cinza);
  border-radius: 10px;
  display: flex;
  margin: 8px auto;
  max-width: 360px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.done-card h4 {
  padding: 5px 10px;
}

.done-card a {
  color: black;
  text-decoration: none;
}

.done-card img {
  height: 100%;
  width: 100%;
}

.done-info {
  padding: 0 5px;
}

.done-card .done-info button {
  background-color: transparent;
  border-color: transparent;
}

.done-card .done-info h4:nth-child( 2 ) {
  font-size: 16px;
}

.main-content div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.done-card .share-button {
  filter: invert(89%)
    sepia(13%)
    saturate(4463%) hue-rotate(330deg) brightness(104%) contrast(98%);
  position: absolute;
  right: 10px;
  top: 3px;
}

.done-card .image-container {
  height: 100%;
}

.done-info p {
  font-size: 13px;
}

.done-info .hash-container span {
  background-color: var(--cinza);
  border-radius: 10px;
  color: var(--cinza-escuro);
  font-size: 13px;
  margin: 3px;
  padding: 5px;
}
