footer {
  align-items: center;
  background-color: var(--roxo);
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  height: 70px;
  justify-content: space-around;
  position: fixed;
  width: 100%;
}

footer .img-footer {
  filter: invert(89%)
    sepia(13%)
    saturate(4463%) hue-rotate(330deg) brightness(104%) contrast(98%);
}
