.content-container {
  display: flex;
  flex-wrap: wrap;
}

.recipe-card {
  border: 1px solid var(--cinza);
  border-radius: 10px;
  margin: 3px;
  max-width: 45%;
  overflow: hidden;
  width: 100%;
}

.recipe-card h4 {
  padding: 5px 10px;
}

.recipe-card a {
  color: black;
  text-decoration: none;
}

.recipe-card img {
  width: 100%;
}

.main-content div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

