* { box-sizing: border-box;}

/* Slideshow container */
.slideshow-container {
  margin: 20px auto;
  max-height: 680px;
  max-width: 360px;
  position: relative;
  display: flex;
  padding-bottom: 90px;
}

/* Hide the images by default */
.mySlides {
  display: none;
  border: 1px solid var(--cinza);
  border-radius: 10px;
  margin: 3px;
  overflow: hidden;
}

.mySlides h4 {
  font-size: 16px;
  margin: 3px 10px;
  color: var(--cinza-escuro);
}

.mySlides img {
  width: 100%;
  max-width: 164.5px;
}

/* Next & previous buttons */
.prev, .next {
  border-radius: 0 3px 3px 0;
  color: white;
  cursor: pointer;
  font-size: 5px;
  font-weight: 700;
  margin-top: -22px;
  padding: 15px;
  position: absolute;
  top: 30%;
  transition: 0.6s ease;
  user-select: none;
  width: auto;
}

/* Position the "next button" to the right */
.next {
  border-radius: 3px 0 0 3px;
  right: 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.active, .dot:hover {
  background-color: #717171;
}


.start-recipe-btn {
  bottom: 0;
  margin-bottom: 10px;
  position: fixed;
  z-index: 2;
}


.instruction-card {
  padding: 0 10px;
  position: relative;
  text-align: center;
}

.instruction-card img {
  width: 100%;
}

.instruction-card .img-container {
  height: 300px;
  overflow: hidden;
}

.instruction-card ul, .instruction-card p {
  border: 1px solid var(--cinza);
  border-radius: 10px;
  padding: 10px;
}

.instruction-card ul li {
  list-style: none;
}

.instruction-card h2 {
  font-weight: 600;
}

.recipes-buttons {
  background-color: var(--amarelo);
  bottom: 0;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.recipes-buttons button {
  background-color: transparent;
  border-color: transparent;
}

.recipes-buttons button:first-child {
  border: 2px solid var(--roxo);
  border-radius: 5px;
  color: white;
  background-color: var(--roxo);
  font-weight: 500;
  padding: 10px;
}

.recipes-buttons button:first-child:disabled {
  background-color: var(--amarelo);
  border: 1px solid var(--amarelo);
  border: 2px solid var(--cinza-escuro);
  color: var(--cinza-escuro);
}

@media ( min-width : 640px ) {

  .instruction-card .img-container {
    height: 500px;
  }
}
