* {
  box-sizing: border-box;
  font-family: ' League Spartan' , sans-serif;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  height: inherit;
}

/* #root */
body > div {
  height: 100%;
}

button {
  background-color: #555;
  border: 1px solid #555;
  border-radius: 10px;
  color: white;
  padding: 10px;
}

:root {

  --roxo: #41197f;

  --amarelo: #fcdc36;

  --cinza: lightgray;

  --cinza-escuro: #555;
}

.title {
  color: var(--roxo);
  font-weight: 300;
  text-align: center;
}

.content-container {
  display: flex;
  flex-wrap: wrap;
}

.content {
  margin: 0 auto;
  max-width: 1024px;
  width: 100%;
}
